<form action="https://formspree.io/contact@alainpellaux.me" method="POST">
    <input type="text" name="_gotcha" style="display:none" />
    <input type="hidden" name="_next" value="{{site.baseurl | prepend: site.url}}/contact-merci" />

    <div class="row">
        <div class="small-12 medium-6 columns">
            <label for="name">Votre nom *</label>
            <input type="text" id="name" name="name" required placeholder="Votre nom" />
        </div>
        <div class="small-12 medium-6 columns">
            <label for="email">Votre email *</label>
            <input type="email" id="email" name="_replyto" required placeholder="Votre email" />
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <label for="subject">Le sujet *</label>
            <input type="text" id="subject" name="subject" required placeholder="Le sujet" />
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <label for="message">Le message *</label>
            <textarea id="message" name="message" required placeholder="Le message"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-6 columns">
            <input class="button" type="submit" value="Envoyer" />
        </div>
        <div class="small-12 medium-6 columns">
            * Obligatoire
        </div>
    </div>
</form>