<a href="https://twitter.com/gallib_net" target="_blank" class="mr-2">{% include_relative /assets/img/twitter.svg %}</a>
<a href="https://ch.linkedin.com/in/alainpellaux" target="_blank" class="mx-2">{% include_relative /assets/img/linkedin.svg %}</a>
<a href="https://github.com/gallib" target="_blank" class="mx-2">{% include_relative /assets/img/github.svg %}</a>
<a href="https://instagram.com/gallib" target="_blank" class="mx-2">{% include_relative /assets/img/instagram.svg %}</a>
<a href="mailto:contact@alainpellaux.me" class="ml-2">{% include_relative /assets/img/envelop.svg %}</a>