html {
    height: 100%;
}

body {
    background: url(../assets/img/background.jpg) no-repeat center fixed;
    background-size: cover;
    color: $color-white;
    font-family: 'Quicksand', sans-serif;
    height: 100%;
}

a {
    color: $color-orange;
    text-decoration: underline;

    &:hover,
    &:focus {
        color: $color-orange;
    }
}

h1 {
    letter-spacing: 0.3rem;
    color: $color-orange;
}

hr {
    height: 1rem;
    line-height: 1rem;
    border-top: none;
    margin: 0;

    &:before {
        content: '';
        background-color: $color-white;
        display: inline-block;
        vertical-align: middle;
        width: 10%;
        height: 1px;
    }

}

.row {
    p:last-child {
        margin-bottom: 0;
    }
}

.profil-picture {
    img {
        max-width: 90%;
        border-radius: 800px;
    }
}

.social {
    a {
        text-decoration: none;
    }

    svg {
        width: 1.5rem;
        height: 1.5rem;

        path {
            fill: $color-orange;
        }
    }
}