body {
    background: url(../img/background.jpg) no-repeat center fixed;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

a {
    text-decoration: underline;
}

p {
    text-align: justify;
}

h1.title {
    text-transform: uppercase;
    margin-bottom: -1.5em;
}

h2.subtitle {
    text-transform: uppercase;
    color: $medium-gray;
    font-size: 1rem;
    margin-bottom: 1rem;
}

h1.title:after,
h2.subtitle-justify:after {
    content: "";
    display: inline-block;
    width: 100%;
}

label {
    color: $white;
}

textarea {
    height: 10rem;
}

input[type='submit'], input[type='button'] {
    color: $black;
}

svg {
    width: 2.5rem;
    height: 2.5rem;

    path {
        fill: #fff;
    }
}

.content-wrapper {
    min-height:100%;
}

@media screen and (min-width: 40em) {
    h2.subtitle {
        font-size: 1.2rem;
    }
}