<!DOCTYPE html>
<html lang="fr">
    {% include head.html %}
    <body>
        <div class="container-fluid h-100">
            <div class="row h-100">
                <div class="col-12 align-self-center">
                    <div class="container">
                        {% include header.html %}
                        <div class="row">
                            <div class="col-12 text-center">
                                {{ content }}
                            </div>
                        </div>
                    </div>
                    {% include footer.html %}
                </div>
            </div>
        </div>
    </body>
</html>